body{
	font-size: 16px;
	color: #999999;
	font-family: 'oxygen',sans-serif;

}

#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
.navbar-brand{
	padding: 15px;
}
.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: #951C49;
	text-align: center;
	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}
#main-content{
	font-size: 0.8em;
	color: #000000;
	text-align: center;
}
#menu-title{
	
	margin-bottom: 15px;
	border: 2px solid #000000;
	background-color: #fbf0f5;
	
}
#line{
	font-size: 1.2em;
	padding: 20px;
	text-align: left;
}
